<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HotelContext" connectionString="Data Source=localhost;Initial Catalog=HotelsDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApiEnd" value="http://localhost/HoteliTest/"/>
  </appSettings>
</configuration>