@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "_layout";
    ViewBag.Title = "Error";
}
<div class="list-header clearfix">
    <span>Error</span>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        Došlo je do neočekivane pogreške. Molimo kontaktirajte sistemskog administratora.
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message <br />
                <b>Controller:</b> @Model.ControllerName <br />
                <b>Action:</b> @Model.ActionName <br />
            </p>
            <div style="overflow:scroll">
                <pre>
                        @Model.Exception.StackTrace
                    </pre>
            </div>
        </div>
    }
</div>
