@model HoteliTest.Models.StavkaRacuna

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StavkaRacuna</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StavkaRacunaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
